[2022-07-24 23:20] ammarlam10 commented on #1401
I was able to solve it by changing trainer strategy to ddp

[2022-07-24 23:20] #1401 closed

[2022-07-24 23:27] ammarlam10 opened #1402 "error when using LightningDataModule with flash.image.ImageEmbedder"
`Traceback (most recent call last):
  File "/workspace/DATA/ADL/simclrdrac.py", line 127, in <module>
    trainer.fit(embedder, datamodule=datamodule)
  File "/home/ra49bid2/miniconda3/lib/python3.9/site-packages/flash/core/trainer.py", line 120, in fit
    return super().fit(model, train_dataloader, val_dataloaders, datamodule)
  File "/home/ra49bid2/miniconda3/lib/python3.9/site-packages/pytorch

[2022-07-24 23:33] ammarlam10 commented on #1402
[code]

[2022-07-25 00:00] ammarlam10 commented on #1402
similar to #637, found the solution there

[2022-07-25 00:01] #1402 closed

[2022-07-25 15:32] Modius22 opened #1403 "NameError: name 'T' is not defined"
## 🐛 Bug

[code]
### To Reproduce
https://lightning-flash.readthedocs.io/en/latest/reference/audio_classification.html
Step 2 with the datamodul dosn't work
#### Code sample
python notebook: https://github.com/Modius22/audio-ml/blob/main/src/flash-prototyping.ipynb

For reproducing: clone github repo; open the project with vscode and devcontainer extension; in the devcontainer use the ./start_jupy

[2022-07-25 16:15] krshrimali commented on #1403
Hi, @Modius22 - Thanks for raising the issue. Can you check if you have `torchvision` installed? Try installing using: `pip install torchvision`, and try running the script again?

From the user experience perspective, we should also raise an error if the library is not installed. I'll take a note of it. Thanks!

[2022-07-25 16:17] Modius22 commented on #1403
Hi @krshrimali,

Thx for the hint. That resolved my problem =)

[2022-07-25 16:29] krshrimali commented on #1403
Awesome, thanks for letting me know. 😄

[2022-07-28 13:33] Irlirion opened #1407 "Add GraphRegressor task"
## 🚀 Feature
Add the graph regression task support

### Motivation

I have been working on graph neural networks for some time now. I want to use lightning flash for a graph regression task, but have only found an implementation for classification, which is a ted disappointing.

### Pitch

Scientists are not limited to the task of graph classification, we also need a quick way to solve our problem

[2022-07-29 14:55] ligaz opened #1408 "Incorrect version of `segmentation-models-pytorch` dependency"
## 🐛 Bug

I'm using poetry for dependency management which results in incompatible behavior when `lightning-flash[image]` is installed.

The `image` extra depends on `segmentation-models-pytorch` [without a version specifier](https://github.com/Lightning-AI/lightning-flash/blob/master/requirements/datatype_image.txt#L7). However it is using classes that are not available in all versions of the mod

[2022-07-31 20:09] #1186 closed

[2022-08-02 05:06] #1344 closed

[2022-08-03 14:19] marsggbo commented on #1188
Any update? I encountered the same problem in NVIDIA NGC cluster

[2022-08-08 13:17] krshrimali opened #1413 "Flash CI: Buggy since recent release of Lightning Trainer (PL) 1.7 (possibly)"
The CI is running with 14 failures. I assume it happened post Lightning Trainer 1.7 release. Let's fix most of them as soon as possible.

[2022-08-11 02:05] aizaiyishunjian opened #1416 "flash_examples object_detection trainer.predict not work"
run examples：object_detection，occour error:

Traceback (most recent call last):
  File "D:\virtualenv\lightning_flash\lib\site-packages\pytorch_lightning\trainer\trainer.py", line 654, in _call_and_handle_interrupt
    return trainer_fn(*args, **kwargs)
  File "D:\virtualenv\lightning_flash\lib\site-packages\pytorch_lightning\trainer\trainer.py", line 1002, in _predict_impl
    results = self._run

[2022-08-11 05:47] krshrimali commented on #1416
Hi, @aizaiyishunjian - Thanks for raising the issue. Unfortunately, this happened with the latest PL 1.7.0 release. We have fixed this issue here: https://github.com/Lightning-AI/lightning-flash/pull/1410, but it might take a couple of days more.

Meanwhile, can you please try going back to PL 1.6.5 and run the example again? `pip install pytorch_lightning==1.6.5 --force` and then re-run the examp

[2022-08-16 15:27] krshrimali commented on #1391
@JustinGoheen - Any reason this was closed? :)

[2022-08-16 15:31] JustinGoheen commented on #1391
I haven't received any feedback for several days now and cannot keep contributions open that appear to be stale

[2022-08-16 15:39] krshrimali commented on #1391
Hi, @JustinGoheen - I appreciate it that you took the time to look at the issue, and create a PR, however - I believe it was communicated well that the PR will be reviewed starting this week, and it is still on my radar for the week. Even if not, I wouldn't call it stale, or close the PR, however - it is totally fine to remove your assignment.

Also, note that my comment did mention that I'll take

[2022-08-16 15:44] Borda commented on #1391
Flash has is set not for 2 months, so no worries :)
https://github.com/Lightning-AI/lightning-flash/blob/36442115224b013343a2845b232f3ce3eca4c916/.github/stale.yml#L4

[2022-08-18 05:39] aizaiyishunjian commented on #1416
@krshrimali ok, Thanks
PL 1.6.5 ，it works.

[2022-08-18 05:39] #1416 closed

[2022-08-18 17:57] jayqi commented on #1403
Hi @krshrimali, ran into this problem as well and was confused until finding this issue. Am I correct in understanding that #1318 fixes this, in terms of providing a more clear error?

[2022-08-18 18:02] krshrimali commented on #1403
Hi, @jayqi - Thank you for the question. In terms of providing a more clear error, this hasn't been fixed. I'll re-open this issue, and I think a refactor will be good in Flash to add better errors if the module is not found. In case you are interested to pick this up, please feel free (also let me know so that I can assign you the issue). Else, I'll try to scope this for the next week, and create

[2022-08-18 18:16] ethanwharris commented on #1403
Hey @krshrimali Yeah it looks like we're just missing some coverage with the `requires` decorator here: https://github.com/Lightning-AI/lightning-flash/blob/master/flash/audio/classification/input_transform.py

Probably we also need to add torchvision to the audio requirements since the `AudioClassificationData` won't work without it

[2022-08-19 13:04] krshrimali opened #1422 "Raise clearer error when module not available"
Context:

cc: @ethanwharris - What do you think about the refactor to raise errors instead of running into: `NameError "T" not defined``.

Hint: https://github.com/Lightning-AI/lightning-flash/issues/1403#issuecomment-1219792770

_Originally posted by @krshrimali in https://github.com/Lightning-AI/lightning-flash/issues/1403#issuecomment-1219780935_

[2022-08-19 13:06] krshrimali commented on #1413
PL 1.7 is now supported, there are total 2 legit failures with the CI, one of which will be fixed with the next Lightning Trainer/PL release. The other is about Horovod vs PyTorch incompatibility in the CI job, and will be fixed next week.

[2022-08-19 13:16] krshrimali commented on #1422
To the contributors: if anyone wants to pick it up, this is open to be taken by this weekend. If not, since this needs to be fixed - I'll attempt to pick it up and try finishing it by the next week. Feel free to let me know here if anyone is interested. 🔥 ⚡

[2022-08-19 15:42] aniketmaurya commented on #1422
hey @krshrimali, I would like to pick this up 😄

[2022-08-19 15:49] krshrimali commented on #1422
Awesome, thanks @aniketmaurya! Assigning this to you, please reach out in case you need any help. Appreciate the help! 🔥

[2022-08-20 19:45] lcoandrade opened #1423 "NameError: name 'K' is not defined"
## 🐛 Bug

Open a Colab notebook and try to perform a image segmentation by instantiating a SemanticSegmentationData using from_folders method.

This raises a NameError.

datamodule = SemanticSegmentationData.from_folders(
    train_folder=x_train_dir,
    train_target_folder=y_train_dir,
    val_folder=x_valid_dir,
    val_target_folder=y_valid_dir,
    test_folder=x_test_dir,
    test_target_fold

[2022-08-21 03:44] krshrimali commented on #1423
Hi, @lcoandrade - Thank you for raising this issue. We are working on making these errors clearer, but for now, could you please try installing `kornia`: `pip install kornia`, and try running the script again?

[2022-08-21 09:11] krshrimali commented on #1423
Hey, @aniketmaurya - Pinging you here (just so to verify that this issue is also fixed along with #1422), since you are fixing #1422 - and I think this issue will be resolved once #1422 is resolved. Hope that sounds good to you!

[2022-08-21 12:14] lcoandrade commented on #1423
Hi, @krshrimali. Thanks for your help. I've tried to install and import kornia as K to solve the problem, but what a really needed was just install it. Thanks again.

[2022-08-21 17:22] lcoandrade opened #1424 "ImportError: cannot import name 'is_directory' from 'PIL._util'"
## 🐛 Bug

Install lightning-flash and lightning-flash[image] in a Google Colab and try to import flash.

!pip install lightning-flash
!pip install 'lightning-flash[image]'
!pip install kornia

import flash

Raises:
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
[<ipython-input-11-a746fdccdc1c>]

[2022-08-22 06:04] krshrimali commented on #1424
Hi, @lcoandrade - Thank you for raising the issue. This seemed odd that you had to face this error, so I thought I'll check myself on a Google Colab.

I noticed that you get a warning after you've done: `pip install "lightning-flash[image]"`:

[code]

If you restart the runtime, and try importing Flash, it should work. I am also not sure that you need to install kornia separately, doing `pip insta

[2022-08-22 06:10] krshrimali commented on #1408
Hi, @ligaz - I apologize for the delay in my response.

Thank you for the context around what's happening, and for helping with details. Would you like to create a PR to fix the version specifier, to change it to `>=0.2.0`? It should be fairly straightforward w.r.t the change but will take some effort to monitor the CI in case anything unusual happens, and I can do that for you! Just thought you w

[2022-08-22 06:14] krshrimali commented on #1407
Hi, @Irlirion - Apologies for the delay in response. Thank you for the feature request. I think it will be worth adding, and since you mentioned that you already have a working version, would you mind creating a PR whenever you get the time? I would love to have it for v0.8 if we can get the PR merged in the next 2 weeks, but of course - it depends on how much bandwidth you have. In case you don't

[2022-08-22 12:51] krshrimali opened #1427 "Multi-TPU Flash: performance issue (converting module to CPU hangs during teardown)"
Description will be added... soon!

cc: @kaushikb11 @Borda @ethanwharris

[2022-08-22 14:07] krshrimali opened #1428 "Fix Flash CI (special examples failing)"

[2022-08-22 17:17] lcoandrade commented on #1424
Thank you very much!

[2022-08-22 17:17] #1424 closed

[2022-08-22 17:18] #1423 closed

[2022-08-22 20:52] DrRaja opened #1429 "TextEncodeInput must be Union[TextInputSequence, Tuple[InputSequence, InputSequence]]"
Hi,
While trying to finetune a bert-base model for multi-label text classification, I keep encountering this error. TextEncodeInput must be Union[TextInputSequence, Tuple[InputSequence, InputSequence]]. I looked around and saw people suggesting to check if there's some missing values of None values in the dataset. I've checked my dataset and its been properly preprocessed to remove an NaN and miss

[2022-08-26 08:10] #1376 closed

[2022-08-26 17:13] uakarsh commented on #1429
Hi @DrRaja, can you help in reproducing the error?

[2022-08-26 19:46] DrRaja commented on #1429
Here's my code:
`import torch

import flash
from flash.core.data.utils import download_data
from flash.text import TextClassificationData, TextClassifier

# 1. Create the DataModule

datamodule = TextClassificationData.from_csv(
    "answer_text",
    label_cols,
    train_file="/content/new-train.csv",
    batch_size=128,
    val_split=0.1
)

# 2. Build the task
model = TextClassifier(
    num_cl

[2022-08-27 05:54] uakarsh commented on #1429
Thanks for mentioning the error. I found this [online](https://stackoverflow.com/questions/63517293/valueerror-textencodeinput-must-be-uniontextinputsequence-tupleinputsequence). Did you see this? I think that, maybe due to the `is_split_into_words` argument or `nonstring type` in the column, the error might have been occurring.

[2022-08-27 20:04] DrRaja commented on #1429
@uakarsh, thank you for the response. Yes I came across that link while I was searching for the solution, but I just didn't understand how/where can I set the token as I'm not directly importing the tokenizer. Can you please help me with that?

[2022-08-27 20:21] uakarsh commented on #1429
Sure, if possible can you provide me the dataset, so that i can run on colab and try to debug it?

Regards,
Akarsh

[2022-08-29 09:29] turian opened #1432 "Add `weight_decay_filter` and `lars_adaptation_filter` to LARS"
## 🚀 Feature

Add `weight_decay_filter` and `lars_adaptation_filter` to LARS

### Motivation

weight decay typically shouldn't be applied to BatchNorm. See [fast.ai](https://www.fast.ai/2018/08/10/fastai-diu-imagenet/) and this [pytorch discuss thread](https://discuss.pytorch.org/t/weight-decay-in-the-optimizers-is-a-bad-idea-especially-with-batchnorm/16994).

The facebook [vicreg code](https://gi

[2022-08-30 09:08] #10 closed

[2022-08-30 09:40] #1343 closed

[2022-08-30 10:04] #1422 closed

[2022-08-30 14:43] #1428 closed

[2022-08-30 14:43] #1413 closed

[2022-08-30 15:27] #1408 closed

[2022-08-31 16:17] daavoo opened #1437 "Flash Zero: Allow to customize `LightningCLI`"
## 🚀 Feature

Expose options to customize the instantiation of `LightningCLI` in Flash Zero commands.

### Motivation

I would like to be able to customize the instantiation. For example, to not use `SaveConfigCallback` which is hardcoded in:

https://github.com/Lightning-AI/lightning-flash/blob/0253d71588b582da326bb01ef116ebd7cd61f21e/flash/core/utilities/flash_cli.py#L166

### Pitch

`flash --sa

[2022-08-31 19:48] #1249 closed

[2022-09-01 04:58] krshrimali commented on #1427
**Update:**

- I checked with a custom model in PL, it was tearing down without any delay on TPU (for both single and multiple devices).
- I wanted to try the same custom model in Flash, so I exported it as a backbone and registered it to `ImageClassifier`. The model had basic conv layers, batch normalization, relu and dropout.

**Outcome:**

- Flash training and validation works wihtout hanging.

[2022-09-01 04:58] #1427 closed

[2022-09-01 06:30] krshrimali commented on #1429
Great to hear, @DrRaja - thank you so much @uakarsh for the discussion and the help! Lovely to see the community stepping forward. ⚡ 🔥

[2022-09-01 07:04] krshrimali commented on #1437
Hi, @daavoo - Thank you for creating the issue! I think it makes sense, note that `LightningCLI` has [`save_config_callback` ](https://github.com/Lightning-AI/lightning-flash/blob/0253d71588b582da326bb01ef116ebd7cd61f21e/flash/core/utilities/lightning_cli.py#L238) and we can set it to `None` in `LightningCLI` but not in Flash Zero.

Myabe, we can think on the name, as having a boolean flag for `sa

[2022-09-01 07:05] krshrimali commented on #1432
Hi, @turian - Thank you for creating the issue. Just to let you know, I have this on my list to take a look at, and I'll try to get back by this weekend. A bit occupied, apologies for the delay.

[2022-09-01 07:24] DrRaja commented on #1429
Thanks for your responses guys, really appreciate it.

Is it possible to change the confidence thresholds in the prediction functions?

[2022-09-01 08:40] daavoo commented on #1437
Yes, in the example I set it to `False` but it has the same effect as `None` because the check is [`if self.save_config_callback`](https://github.com/Lightning-AI/lightning-flash/blob/0253d71588b582da326bb01ef116ebd7cd61f21e/flash/core/utilities/lightning_cli.py#L386).

No strong opinion on name.

Sure thing. I wanted to open the issue first to check if it made sense for you

[2022-09-01 09:06] krshrimali commented on #1437
I think a PR to add a boolean flag `--save-config` to enable/disable save config callback will be a good idea! Regarding the name, if there are any other suggestions, we can rename it quickly in the PR before merging. :)

I'll be looking forward to your PR, thank you very much!

[2022-09-01 11:28] uakarsh commented on #1429
When you run [this](https://colab.research.google.com/gist/uakarsh/251406879460715551a1b47dad3a3bc2/sample-nb.ipynb) notebook, you would get an output like:

`[[tensor([  3.0591,  -6.4909,   1.8139, -16.4584,   2.6716,  -8.2024]), tensor([  4.9536,  -3.4972,   6.0760, -16.4508,   3.2731,  -7.8231]), tensor([ -7.2569, -13.6809,  -8.6636, -13.1463, -10.7626, -12.5976])]]`

So, I think that there is

[2022-09-02 16:22] krshrimali commented on #1429
Hey, @uakarsh and @DrRaja - I'm sorry for the delay. Please allow me a couple of days to get back to you on this. We are working on v0.8 release, hence the delay in response. I'll have to check the context to be able to get back, hopefully this weekend 🤞🏻! Thank you!

[2022-09-02 18:38] DrRaja opened #1447 "Lightning-flash Tabular Import error"
Hi, I'm back again :(
I installed lightning-flash[tabular] in Google Colab notebook and tried to run the code from the toy example: https://lightning-flash.readthedocs.io/en/stable/reference/tabular_classification.html, however I get the following error:

ModuleNotFoundError: No module named 'torchtext.legacy'

Note: lightning-flash[text] in the same notebook runs fine!

[2022-09-02 18:52] ethanwharris commented on #1447
Hi @DrRaja Sorry you're experiencing issues. This can unfortunately happen in environments where torchtext comes pre-installed (like colab). Could you try uninstalling it first before installing Flash following the example here? https://lightning-flash.readthedocs.io/en/stable/installation.html#torchtext-incompatibility

Hope that helps :smiley:

[2022-09-02 20:01] DrRaja commented on #1447
Thanks for the quick response. Just to clear things for myself, lightning-flash[text] uses a different version of torchtext? I say this because I can import the library without any errors for lightning-flash[text].

[2022-09-04 17:24] krshrimali commented on #1432
Hi, @turian - Thank you for giving the context, I went through the discussion on the PyTorch forum. I think it's fair to give an option to the user to disable this based on the condition (`ndim == 1`). Would you like to create a PR to add this? If not, I'll be able to take a look, hopefully soon. Thank you! ⚡

[2022-09-04 19:00] turian commented on #1432
@krshrimali I am not sure that I would able to create a PR that covers all corner cases. :(

[2022-09-04 19:11] krshrimali commented on #1432
No worries at all! I will try to take a look, we are working towards a release tomorrow, so I will need some time but I have added this to my list. Thank you again!!

[2022-09-05 14:33] ethanwharris commented on #1356
Fixed by #1389

[2022-09-05 14:33] #1356 closed

[2022-09-05 14:35] ethanwharris commented on #1447
Hi @DrRaja, the issue happens when you have torchtext installed but then change to a different version of torch. Because we don't explicitly state a torchtext dependency in our non-text requirements the error gets triggered. In contrast, with the text requirements, we explicitly state torchtext so the correct version gets installed always.

Hope that clears things up! Closing this issue but please

[2022-09-05 14:35] #1447 closed

[2022-09-05 14:41] ethanwharris commented on #1429
Hey @uakarsh @DrRaja I think there you are just seeing the raw logits output from the model. To see e.g. probabilities you would need to use
[code]

To get classes or labels output with a custom threshold, you can pass the `Output` object yourself like this:
[code]

Hope that helps :smiley:

[2022-09-05 14:41] #1429 closed

[2022-09-05 19:13] ethanwharris opened #1450 "Too much RAM usage by ImageClassificationData"
### Discussed in https://github.com/Lightning-AI/lightning-flash/discussions/1442

<div type='discussions-op-text'>

<sup>Originally posted by **Hravan** September  1, 2022</sup>
I'm setting up a training for this kaggle competition dataset: https://www.kaggle.com/competitions/plant-pathology-2021-fgvc8
(I'm using here only samples with single labels to make the problem simpler)

The problem is th

[2022-09-06 12:25] carmocca opened #1452 "Integrate `lightning_utilities`"
## 🚀 Feature

We have released https://github.com/Lightning-AI/utilities/ which contains multiple utilities that are shared across the codebase.

### Motivation

Avoid protected imports
Avoid duplicated code

### Pitch

Go through the Flash codebase and see which duplications or protected imports we have

[2022-09-06 12:30] carmocca commented on #1452
Examples:

https://github.com/Lightning-AI/lightning-flash/blob/674232381ad9e984a256037749fa714fcfd1b627/flash/core/utilities/imports.py#L31-L75

https://github.com/Lightning-AI/lightning-flash/blob/674232381ad9e984a256037749fa714fcfd1b627/flash/core/utilities/apply_func.py#L34-L41

There should be `DeprecationWarning`s for utilities imported from PL that should start using `lightning_utilities`

[2022-09-07 18:45] uakarsh commented on #1407
Hi @Irlirion, are you still working on this PR? I would be happy to help you add a graph regression task in Flash.

[2022-09-08 13:34] krshrimali commented on #1452
Hi, @carmocca - Thank you! I am up for it, and it's only going to help us stay stable with respect to these utilities.

Is it possible that we can create a list of the sections of code that we can change, and take some help from our awesome community?

[2022-09-08 15:03] carmocca commented on #1452
The two I pointed out in my previous message are the only ones I could find. These are the ones we currently have in the utilities: https://github.com/Lightning-AI/utilities/tree/main/src/lightning_utilities/core

Should be a very easy PR, up for grabs!

[2022-09-08 15:10] krshrimali commented on #1452
Thanks! @uakarsh - Maybe you'll like to pick these up? Please let us know 🎉

[2022-09-08 15:26] carmocca commented on #1452
For examples of the PR in lightning: https://github.com/Lightning-AI/lightning/pull/14475, and https://github.com/Lightning-AI/lightning/pull/14537

[2022-09-08 15:34] uakarsh commented on #1452
Hi @carmocca @krshrimali, this definitely looks interesting. Can you give me some time, to explore about lightning_utility, and the existing codebase? I would surely get back to you.

[2022-09-08 15:35] krshrimali commented on #1452
Oh definitely, please take your time and let us know if you need any help! Thank you for your help! ❤️

[2022-09-12 12:39] turian commented on #1432
@krshrimali Great! I am following this issue.

[2022-09-12 12:41] krshrimali commented on #1432
I'll try to pick this up over the coming weekend. 🤞🏻 Thanks for your patience, @turian 🚀

[2022-09-12 12:56] turian commented on #1432
@krshrimali Thanks! And I am happy to help with code review if you tag me in the PR

[2022-09-12 12:59] krshrimali commented on #1432
Thanks! I'll make sure to request your review :)

[2022-09-15 13:42] uakarsh commented on #1452
HI, @krshrimali @carmocca, I would now start working on this task. So, far I have been going through the `lightning_utilities` repo, and what I could understand is that the repo's main idea is to centralize the steps involved before starting the code, i.e **module availability**, the **checking the data structures required for different methods, and converting them to some other data structure**.

[2022-09-15 14:31] carmocca commented on #1452
Nothing missed. That's perfect :)

[2022-09-15 14:35] uakarsh commented on #1452
Cool, would be starting today

[2022-09-23 15:44] JohannesK14 opened #1459 "MisconfigurationException("The `batch_size` should be provided to the DataModule on instantiation.")"
## 🐛 Bug

SemanticSegmentationData.from_datasets() functions throws MisconfigurationException error because of allegedly missing batch_size specification, although it is actually set.

### To Reproduce

#### Code sample
[code]

### Expected behavior

I expect SemanticSegmentationData.from_datasets to consume the specified batch_size argument and to return successfully (or to throw an exception bec

[2022-09-24 14:00] krshrimali commented on #1459
Hi, @JohannesK14 - Thank you for reporting this issue. I was able to reproduce this issue. The issue comes from PyTorch Lightning, and looks like it was fixed [here](https://github.com/Lightning-AI/lightning/pull/14185), but has been added to 1.8 release.

Sorry for the inconvenience, but meanwhile, you can use our other helper methods (`from_files`, `from_folders`). This should be fixed with PL 1

[2022-09-26 13:00] JohannesK14 commented on #1459
Hi @krshrimali , thanks for verifying! I switched to `from_folders` for now and look forward to PL 1.8.

[2022-09-29 22:21] Atharva-Phatak commented on #1450
@ethanwharris, I can take a look if this is open. Seems interesting that there is such a bottleneck. Could you give me a bit more details ?

Maybe we can test this on a smaller dataset like CIFAR and see if that's the case.

[2022-09-29 22:25] Atharva-Phatak commented on #1354
I am sorry to barge in here. But I believe flash uses visuals as the backend right? Since you mentioned lightning bolts could it be possible that slowly by slowly we start adding SSL models to lightning bolts and then use it as a backend for flash. Ofcourse this is a long-term game and will require a huge effort from everyone. Let me know what you think.

[2022-10-01 09:06] uakarsh commented on #1400
Hi @Nico995, I have able to generate the error (however, I had to use two files, since, for one file, the shape comes out to be (256, 256)), and I got the error as `IndexError: Target 64 is out of bounds.`. I guess you are right as well, i.e allowing a bit of modifiable reading format would help in customizing the package on different sets of data and tasks. Are you still working on it, or have fo

[2022-10-01 09:21] ethanwharris opened #1462 "Refactor `IMAGE_CLASSIFIER_HEADS` to be general classification heads"
## 🚀 Feature

We have the `IMAGE_CLASSIFIER_HEADS` registry in `image/classification/heads.py` but it's actually useful for all classification tasks where you have an embedding followed by a classification layer. We should refactor it out and rename it to just `CLASSIFIER_HEADS` in `core/classification.py`

[2022-10-01 09:58] ethanwharris commented on #1450
Hey @Atharva-Phatak thanks for the offer! Please feel free to take a look 😃 I think a great starting point would be to have a model in Flash (trained on e.g. CIFAR-10 as you suggested) and the equivalent model just using Lightning to see if the maximum batch size you can get is different on each. If it is different then that would confirm we have a leak

[2022-10-01 11:33] #1452 closed

[2022-10-02 09:31] Abelarm commented on #1462
Hi @ethanwharris,

is it ok for you if I tackle this?

[2022-10-02 15:21] krshrimali commented on #1462
Hi, @Abelarm - I'm sure @ethanwharris would love for you to pick this up. I'm assigning you this issue, please let us know if you have any queries. :)

[2022-10-02 20:06] Abelarm commented on #1462
First of all guys I had this while installing with: `pip install -e '.[dev]'`

[code]

is it expected?

[2022-10-02 20:30] Abelarm commented on #1462
Hi guys while installing with: ` pip install -e '.[dev]'`  I got this error:
[code]

[2022-10-02 20:40] krshrimali commented on #1462
Hi @Abelarm - Yeah, I can reproduce. I'll have to check tomorrow on this (sorry, it's a bit late here), but for now, to unblock you from working on this, I guess you can safely ignore this error, and do:

[code]

[2022-10-02 20:46] Abelarm commented on #1462
Sorry didn't know your time_zone, I am not blocked (just created the PR)  I just wanted to point the error to you guys, so you can track it

[2022-10-13 10:23] Nico995 commented on #1400
Hi @uakarsh, sorry for the late reply.
I have not been checking this in a long time. It appears that either I got the code reference from the wrong branch, or the master branch changed. Anyways, now the official code looks like this:

[code]

which breaks my example at point n.3 with the following error:

I did not take the time to fully debug the code, but I suppose one could at least include sup

[2022-10-18 03:23] Atharva-Phatak commented on #1450
@ethanwharris Sorry, I was busy with college and working on a PR for bolts. I will look at this week and let's where we can go from here :)

[2022-10-18 22:29] rbavery commented on #637
Should this issue be closed? I'm still getting errors with tuples for image classification

[2022-10-19 09:38] ethanwharris commented on #637
Hey @rbavery At the moment, the input to the `ImageClassifier` is expected to be a dictionary with an "input" key and a "target" key. I think it would be valuable for us to support more conventional formats (e.g. tuples) as well, could you open a new issue to discuss this further?

Thanks 😃

[2022-10-25 20:25] shravankumar147 opened #1473 "NameError: name 'Parser' is not defined"
## 🐛 Bug

When trying out object detection [example](https://lightning-flash.readthedocs.io/en/latest/reference/object_detection.html), got the below error at datamodule.

[code]

#### Code sample

[code]

### To Reproduce
[code]

### Expected behavior

It should create a data module for further computations.

### Environment

 - OS (e.g., Linux): Linux
 - Python version: Python 3.7.15
 - PyTorch/

[2022-10-26 08:08] krshrimali commented on #1473
Hi, @shravankumar147 - Thank you for raising this issue. Object Detection in Flash internally relies on icevision library. I'll create a PR to raise a better error if `icevision` isn't available. For now, if this is something that blocks you, could you please try installing icevision: `pip install icevision`, and see if that resolves the error? Thanks!

[2022-10-26 08:27] shravankumar147 commented on #1473
Thanks for the input @krshrimali , I will test it in some time and update back here.

[2022-10-28 11:36] shravankumar147 commented on #1473
Hi,

I did try to install icevision using
[code]
But after installation I observed below issue:

[code]

[2022-10-28 11:38] shravankumar147 commented on #1473
Then I tried to upgrade the torch but it still showing more errors, as I import flash.

Sharing the same for reference.

[code]

[2022-10-31 22:17] davidgilbertson opened #1478 "ERROR: Could not build wheels for pandas, scikit-learn, which is required to install pyproject.toml-based projects"
## 🐛 Bug

### To Reproduce

`pip install lightning-flash[tabular]` has a lot of errors. There's thousands of lines of errors so I'm not sure which parts to share.

A sample.
[code]

And, an interesting part...?
[code]

And the final lines of the error:
[code]

I already have Pandas 1.4.4 and scikit-learn 1.1.2 installed.

I notice it's trying to install quite an old version of scikit-learn (0.24),

[2022-11-03 15:17] r-matsuzaka opened #1480 "ImportError: cannot import name 'WarningCache' from 'pytorch_lightning.utilities.warnings'"
## 🐛 Bug

I just want to run tutorial [here](https://lightning-flash.readthedocs.io/en/stable/reference/instance_segmentation.html).

### Environment
- Ubuntu Desktop 22.04 LTS
- GPU RTX2080
- Driver nvidia-driver-510

### To Reproduce

- Dockerfile
[code]

- docker-compose.yaml
[code]

Then, run
[code]

Connect to `localhost:7777` and open up jupyter.

Then, run
[code]

I got the error

[2022-11-03 15:22] r-matsuzaka opened #1481 "ModuleNotFoundError: No module named 'sahi.model'"
## 🐛 Bug

I just want to run tutorial [here](https://lightning-flash.readthedocs.io/en/stable/reference/instance_segmentation.html).

### Environment
- Ubuntu Desktop 22.04 LTS
- GPU RTX2080
- Driver nvidia-driver-510

### To Reproduce

- Dockerfile
[code]

- docker-compose.yaml
[code]

Then, run
[code]

Connect to `localhost:7777` and open up jupyter.

Then, run
[code]

I got the error

[2022-11-03 15:24] krshrimali commented on #1481
Hi, @r-matsuzaka - Thank you for creating this issue. We are aware of this issue, and looking at it. Meanwhile, can I please know what `pytorch_lightning` version you have in your environment?

[2022-11-03 15:31] r-matsuzaka commented on #1481
@krshrimali
Hi.

`pytorch-lightning==1.8.0.post1`

[code]

[2022-11-03 15:33] krshrimali commented on #1481
Hi, @r-matsuzaka - Okay, so not a fault of `pytorch_lightning`. This is broken in upstream (icevision): https://github.com/airctic/icevision/issues/1146. Could you please try downgrading `sahi` to 0.10.8 using: `pip install sahi==0.10.8`? A PR is opened to icevision: https://github.com/airctic/icevision/pull/1147, but meanwhile - I'll send a PR to pin it in Flash.

Please let me know if downgradin

[2022-11-03 16:05] r-matsuzaka commented on #1481
@krshrimali
Hi.
Thank you very much. I had no error.

![Screenshot from 2022-11-04 01-04-14](https://user-images.githubusercontent.com/76238346/199772629-76e356fa-2254-4be9-99dd-dfb8741a887a.png)

[2022-11-03 16:07] krshrimali commented on #1481
Thanks, @r-matsuzaka for acknowledging. I've created a PR to fix it, and also looking at the other issue you've created. Once the next release of Flash is made, those should be fixed. I'll re-open this issue until we have fixed it in flash without us requesting users to down-grade a specific library. ❤️ Thank you again!

[2022-11-03 16:10] r-matsuzaka commented on #1481
My pleasure. Thank you for your polite and quick response!

[2022-11-03 16:18] krshrimali commented on #1478
Hey, @davidgilbertson - Sorry that you are facing this issue. Since it says `Python.h` not found, looks like it's missing the header file required - if you are using Ubuntu, and I assume you must be using `apt` package manager, so can you please try: `sudo apt install libpython3.x-dev` (where x will be your python 3.x version, for me it was `3.10` so I had to do: `sudo apt install libpython3.10-de

[2022-11-03 21:01] davidgilbertson commented on #1478
Thanks @krshrimali I tried as you suggested and get more errors. I tried with `--fix-missing` and got the same errors. Tried `sudo apt update` and that resolved the errors.

Anyway, now I get new errors. It seems like this _uninstalled_ my `pytorch-lightning@1.7.7` and installed `pytorch-lightning@1.3.6` and then I get an error:
[code]

And also I get the below error, not surprising since `lightni

[2022-11-03 21:01] #1478 closed

[2022-11-04 09:30] krshrimali commented on #1473
Hi, @shravankumar147 - Sorry for the delay in getting back. Were you able to resolve the issue?

[2022-11-05 09:13] #1481 closed

[2022-11-08 15:20] PnthrLeo commented on #1473
Hello everyone! Got the same issue. So, I tried to install _icevision_ as was suggested here. However, there was a problem to do this with python 3.10.

Therefore, I created env with python 3.8 and **_installed icevision first and then flash-lightning_**. After this, surprisingly, I started to have this error:
`ModuleNotFoundError: Required dependencies not available. Please run: pip install 'icev

[2022-11-12 07:38] shravankumar147 commented on #1473
@krshrimali - In colab, I got multiple issues.

@PnthrLeo Would you mind sharing your colab notebook, if you have successfully able to run this.

[2022-11-12 10:24] PnthrLeo commented on #1473
@shravankumar147
Notebook: https://colab.research.google.com/drive/1sopeaR1XP_rM5ZBYCg5VAPsl2rsE3pD2#scrollTo=ktxt2mcXMSMN

Steps to run notebook:

1. Run "INSTALLATION" section.
2. Restart notebook.
3. Run "CODE section.

Hope, it will help you!

[2022-11-13 17:25] shravankumar147 commented on #1473
@PnthrLeo Thanks for sharing.

Unfortunately, I still see similar errors. Here I am attaching my [colab notebook](https://colab.research.google.com/drive/1nKWOUtkT8awW20hLkGTTToil_Wl0gaSb?usp=sharing) for reference.

Please let me know if I missed anything.

Thanks in advance

[2022-11-13 17:27] shravankumar147 commented on #1473
Error for reference while importing flash :
[code]

[2022-11-13 18:01] fcakyon commented on #1481
Hello @r-matsuzaka @krshrimali i am the core maintainer of sahi. I would be more than glad to work on a PR to Icevisionor Lightning AI to add v0.11 support. Migration is very easy. I am deeply sorry for that backward incompatible architectural update jump from 0.10 to 0.11.

[2022-11-13 18:02] PnthrLeo commented on #1473
@shravankumar147 Probably, you forgot to restart notebook runtime (second step in my instructions to the notebook) after modules installation.

[2022-11-13 18:10] PnthrLeo commented on #1473
Just in case, repeat my instructions to the notebook with screenshots:
1. Run this cell.
![image](https://user-images.githubusercontent.com/29786176/201537139-210f3be7-eaf9-40d6-a649-5e94fe8b1201.png)
2. Then click on 'Restart runtime'.
![image](https://user-images.githubusercontent.com/29786176/201537273-8d44c53e-5968-4b9f-b7e6-c4f16ec3c526.png)
3. After this _**do not**_  run "Installation cell"

[2022-11-13 18:11] krshrimali commented on #1481
Hi, @fcakyon - Thank you so much for reaching out, great work with sahi! 🚀

Please don't be sorry, I'm glad you offered help to have this fixed. I think, this fix will go to icevision, and then we can just get rid of the requirement where we hard-coded sahi's version to the backward-compatible one. From what I remember, there was a PR already to icevision, maybe you can help them push it forward o

[2022-11-13 18:13] fcakyon commented on #1481
I will try to get in contact with icevision devs, thanks for the response!

[2022-11-13 18:13] krshrimali commented on #1481
Awesome, thank you @fcakyon - once it's done, could you please let me know here, or just send a PR to un-pin the sahi's version in Flash? I can help land it (we'll also need icevision's release once the PR is merged upstream). Thank you for your help! ❤️

[2022-11-13 18:15] fcakyon commented on #1481
OK @krshrimali, will let you know once icevision is updated and a new version is shipped 👍

[2022-11-15 17:43] shravankumar147 commented on #1473
Hi @PnthrLeo ,

Thanks for the detailed suggestions, these worked for me.

[2022-11-16 06:37] BrightXiaoHan opened #1485 "The type of `n_gram` is mislabeled as bool, which should be int type."
## 🐛 Bug

In Translation Task:
The type of `n_gram` is mislabeled as bool, which should be int type.

### To Reproduce

[code]
The error raised:
[code]

[2022-11-16 13:39] #1485 closed

[2022-11-25 03:16] newzealandpaul opened #1489 "Semantic Segmentation target masks broken >0.7.5"
## 🐛 Bug

The switch to albumentation in newer releases of lightning-flash seem to have broken transformation of segmentation targets.

This is what I expect masks to look like (screenshot showing below code sample running on 0.7.5):

![2022-11-25 25-10-10-49--259_chrome](https://user-images.githubusercontent.com/9672/203894021-42a3b66f-ab8a-4216-9c66-7cd03e58a595.png)

This is what it looks like

[2022-11-27 17:03] Skylion007 opened #1491 "VideoClassificationDataset does not support frame video folders"
I realized some of the helper code around the pytorch video does not allow the videos to be frame_video objects, which is disappointing and is supported by the underlying pytorch video.

https://pytorchvideo.readthedocs.io/en/latest/_modules/pytorchvideo/data/labeled_video_dataset.html#labeled_video_dataset

### Discussed in https://github.com/Lightning-AI/lightning-flash/discussions/1490

<div ty

[2022-11-27 18:06] Skylion007 commented on #1491
So it looks like it does work if specify the folders manually from_files by globbing those dirs. However, the more intuitive from_folders classmethod appears to filter out all the folders that only contain JPEGs. Loading small samples from these frame_videos is also less efficient than I would have expected, which is a tad disappointing. It can even be slower than loading AVI encoded videos (but f

[2022-11-28 23:42] Atharva-Phatak opened #1492 "Text to Image taks 🚀"
## 🚀 Feature

We all have been hearing about stable diffusion nowadays don't we ? I would like to integrate [diffusers](https://github.com/huggingface/diffusers) as backend for Text-To-Image tasks.
### Motivation

### Pitch
Simply follow the procedure as other tasks more or less. Ofcourse I am not sure of training pipeline for diffusion models but it would be fun to have Text-to-Image tasks. This

[2022-11-29 09:34] NikolasE opened #1493 "ObjectDetectionData is missing dependencies even though pip worked"
## 🐛 Bug
I want to create an ObjectDetectionData-object but get the error message:
"ModuleNotFoundError: Required dependencies not available. Please run: pip install 'icevision' 'lightning-flash[image]'"
Even though I successfully executed the pip install.

### To Reproduce / Code sample
[code]

### Expected behavior
ObjectDetectionData-instance is created

### Environment

 - OS (e.g., Linux): Ub